* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */

  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  background-color: #fff5f5;
  /* Only works if there is nothing absolutely positioned in relation to body */
  overflow-x: hidden;
  /* scroll-behavior: smooth; */
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffe3e3;
  /* Because we want header to be sticky later */
  height: 9.6rem;
  padding: 0 4.8rem;
  margin-bottom: 6.4rem;
}
.header-text {
  font-weight: 600;
  font-size: 4rem;
  color: #c92a2a;
}
.container {
  /* 1140px */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;

  /* margin-bottom: 9.6rem; */
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--center-v {
  align-items: center;
}
.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ffc9c9;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.step-img {
  width: 60%;
  /* z-index: 10; */
}
.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: #333;
  /* color: #45260a; */
  /* color: #343a40; */
  letter-spacing: -0.5px;
}
.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}
.personal {
  margin-top: 8rem;
  margin-bottom: 8rem;
  justify-items: center;
}
.dynamic {
  margin-bottom: 8rem;
}
.dynamic-text {
  margin-bottom: 4rem;
}
.dynamic-pic {
  width: 50rem;
  height: auto;
}
